.sliderWrap {
  h3 {
    text-align: center;
  }
  .slider {
    width: 850px;
    float: left;
  }
  p {
    padding: 20px 50px;
  }
  img {
    width: 65%;
    float: left;
    padding: 25px;
    height: 600px;
  }
}
