@import "../Components/Esports/style";
@import "../Components/Game/style";
@import "../Components/Technology/style";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
@import "../Auth/style";
@import "../Components/Home/style";
$colorButton: rgba(201, 128, 202, 0.6);
body {
  background-image: url(http://365psd.ru/images/backgrounds/bg-lightl-884.jpg);
  padding: 0;
  margin: 0;
}

nav {
  padding: 10px 25%;

  span {
    padding: 20px;
    button {
      border: 1px solid rgba(0, 0, 0, 1);
      padding: 15px;
      border-radius: 9px;
      background-color: transparent;
      color: rgba(0, 0, 0, 1);
      font-size: 18px;
      outline: none;
      &:focus {
        outline: none;
        border-color: rgba(111, 202, 224, 0.9);
        background-color: $colorButton;
      }

      &:hover {
        color: rgba(64, 61, 60, 1);
        background-color: $colorButton;
        border: 1px solid rgba(163, 160, 160, 0.6);
      }
    }
  }
}

.box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}
.content {
  border: 1px solid salmon;
  flex: 0 1 320px;
  background: linear-gradient(to right, rgba(82, 80, 79, 0.6), $colorButton);
  border-radius: 20px;
  padding: 2px;
  margin: 10px;
  p {
    // flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin: 5px;
    max-height: 30px;
    font-family: "Noto Sans JP", sans-serif;
    color: white;
  }
  img {
    width: 100%;
    height: 260px;
    border-radius: 20px;
    padding: 1px;
  }
  &:hover {
    button {
      transform: translatey(0);
      opacity: 1;
      visibility: visible;
      border-radius: 20px;
      background-color: rgba(198, 180, 216, 0.5);
    }
  }
}

.btn {
  cursor: pointer;
  position: relative;
  margin: 20px 35%;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
  transform: translatey(-40px);
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

footer {
  background-color: rgba(201, 128, 202, 0.5);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(29, 108, 255, 0.8);
  h5 {
    padding-left: 30px;
  }
  .footerIcon {
    a {
      padding: 0px 20px;
      outline: none;
    }
  }
}

.bodyContent {
  min-height: calc(100vh - 50px);
}
